title Ray Lin - Resume

//- BEGIN Stylesheets
link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
link(rel='stylesheet' href='normalize.css')
link(rel='stylesheet' href='style.scss')
//- END Stylesheets

//- BEGIN Resume Content
section.columns.pt-3.mb-0#title
    div.column.has-text-centered
        h1.title.is-size-1 Ray Lin

section.columns.is-centered.has-text-centered.is-family-monospace.pb-1#contact
    div.column
        a(target='_blank'  style="text-decoration:none" href='mailto:q54lin@uwaterloo.ca')
            i.fa.fa-envelope
            p q54lin@uwaterloo.ca    
    div.column
        a(target='_blank'  style="text-decoration:none" href='https://github.com/alceray') 
            i.fa.fa-github
            p github.com/alceray
    div.column
        a(target='_blank'  style="text-decoration:none" href='https://linkedin.com/in/raylin02')
            i.fa.fa-linkedin
            p linkedin.com/in/raylin02
    div.column
        i.fa.fa-map-marker
        p Mississauga, ON
    div.column
        i.fa.fa-phone
        p (647) 974-8613

section.columns#details
    div.column#long-description
        div#profile
            h1 Summary
            ul.details 
                li.
                    Two years experience developing and testing software applications
                //- li.
                //-     Proficient communication skills refined from daily scrum meetings
                li.
                    Collaboration and problem-solving skills refined through three co-op terms as software developer
                li.
                    Solid academic career focusing on user interfaces and machine learning 
                li.
                    Strong aptitude for learning new programming languages and tools
                //- li.
                //-     Collaboration and teamwork skills used in daily work meetings
                //- li.
                //-     5 years of experience using Microsoft Office, including Word, Excel, and PowerPoint
                //- li.
                //-     Conversational fluency in English and Cantonese 
        div#experience
            h1 Experience
            div.job 
                h2 Full-Stack Developer @ SS&C Technologies (rehire)
                br
                em.location Toronto, ON 
                p.timeline Jan 2023 &mdash; Apr 2023
                ul.details
                    li.
                        Restored a web scraper for the InQuira knowledge base by restoring the PostgreSQL database, updating Python scripts, and debugging data migration API issues in the KB App
                    li.
                        Created and deployed a Nifi flow for silencing alerts and routing them to emails on holidays, using the APIM Holidays API and Groovy scripts
                    li.
                        Independently designed and implemented a POC for a Node.js scraper that migrates TA2000 DST data to a XWiki application through the REST API, saving a week of front-end work
            div.job
                h2 Software Developer in Test @ NCR
                br
                em.location Waterloo, ON 
                p.timeline May 2022 &mdash; Aug 2022
                ul.details 
                    li.
                        Designed automation test scenarios in Cucumber feature files and performed E2E testing through TestCafe on a Teller UI application, focusing on code readability and reusability
                    li.
                        Collaborated with front-end developers to conduct manual testing on their feature implementations, reporting any observed inconsistencies and setting up stakeholder meetings to discuss certain issues
                    li.
                        Resolved over 20% of the SonarQube issues by refactoring React components
            div.job 
                h2 Full-Stack Developer @ SS&C Technologies 
                br
                em.location Toronto, ON
                p.timeline Sep 2021 &mdash; Dec 2021
                ul.details
                    li.
                        Conducted Angular unit testing and the replacement of Bootstrap with CSS elements for the IVA Admin page to enforce the functionality and efficiency of the codebase
                    li.
                        Leveraged SQL queries to visualize funds data in a Superset dashboard with various charts and maps, and demonstrated the application's reporting utility to the stakeholders
                    li.
                        Coordinated daily meetings with another co-op student to exchange ideas, resolve conflicts, and collaborately complete our tasks
                    //- li. 
                    //-    Developed a Spring Boot REST API with CRUD operations and exception handling that connects to a specific database depending on the environment. 
            //- div.job
            //-     h2 Piano Tutor
            //-     br
            //-     em.location Mississauga, ON
            //-     p.timeline 2018 &mdash; Present
            //-     ul.details
            //-         li.
            //-             Coordinated summer piano tutoring sessions for children in my neighbourhood
            //-         li.
            //-             Taught my little sister to play piano, from zero knowledge to currently Level 8
        div#projects
            h1 Projects
            div.project
                div.project 
                h2 Large Language Model
                p.timeline Jul 2023
                em.stack Python, PyTorch
                ul.details
                    li.
                        Extended and fine-tuned GPT2 to perform question-answering tasks at 20% exact match
            div.project
                h2 #[a(target='_blank' style="text-decoration:none" href='https://github.com/alceray/Typing-Test-App') Typing Test Application]
                p.timeline Apr 2023 &mdash; present
                em.stack Django, React, PostgreSQL
                ul.details 
                    li.
                        Develop a React application with an integrated Django back-end that challenges the user's typing abilities in creative ways
                    li.
                        Extract and store text from the Project Gutenberg API into the PostgreSQL database and serve it in a Django view
            div.project 
                h2 #[a(target='_blank' style="text-decoration:none" href='https://git.uwaterloo.ca/jpparapp/cs_346_project') To-Do List Application]
                p.timeline Sep 2022 &mdash; Dec 2022
                em.stack Kotlin, JavaFX, Spring Boot, MongoDB
                ul.details
                    li.
                        Collaborated with several group members to develop a to-do list desktop application using Kotlin and JavaFX
                    //- li.
                    //-     Utilized JavaFX to develop key functionalities such as deleting tasks, selecting all tasks, undo/redo, and keyboard shortcuts
                    li.
                        Packaged the application and created executable installers using Gradle
            //- div.project
            //-     h2 #[a(target='_blank' style="text-decoration:none" href='https://github.com/alceray/Tetris-game') Tetris Game]
            //-     p.timeline 2021 
            //-     em.stack Python, Pygame
            //-     ul.details 
            //-         li.
            //-             Co-built a Tetris game that incorporates the original mechanics with additional creative features
            //- div.project
            //-     h2 #[a(target='_blank'  style="text-decoration:none" href='https://github.com/alceray/URL-shortener') URL Shortener/Customizer]
            //-     p.timeline 2021
            //-     em.stack Python, Flask, SQLite
            //-     ul.details
            //-         li.
            //-             Created a web application that allows users to enter a URL and either customize the URL key to their preference or randomly generate a shortened one
                    //- li.
                    //-     Used Python to pass and store URL data in a SQLite database
            //- div.project
            //-     h2 Decision Tree
            //-     p.timeline 2020
            //-     em.stack Racket 
            //-     ul.details 
            //-         li.
            //-             Created and trained a machine learning classifier from a randomly generated dataset using an ID3 algorithm 
            //-         li.
            //-             Measured at a sensitivity of over 50% and a specificity of over 90% 

    div.column#short-description
        div#skills
            h1 Skills

            h2 Programming
            div.details
                p Javascript
                p C
                p C++
                p Python
                p Kotlin
                p Java 
                p R 
                p Racket
                
            h2 Server/Web
            div.details
                p HTML/CSS
                p REST
                p React
                p Node.js
                p Spring Boot
                p Django
                p Angular
                p Flask

            h2 Database
            div.details
                p PostgreSQL
                p MongoDB
                p SQLite

            h2 Tools
            div.details
                p Git
                p Jira
                p Docker
                p Postman
                p Superset
                p Figma
                p Nifi
                p Swagger

            h2 Operating Systems
            div.details
                p Windows
                p Linux (Ubuntu, CentOS)
            
            //- h2 Languages
            //- div.details
            //-     p English
            //-     p French 
            //-     p Cantonese 
        div#education
            h1 Education
            
            h2 Candidate for Bachelor of Computer Science
            p.timeline 2020 &mdash; present
            p.details University of Waterloo

            h2 International Baccalaureate Diploma Program 
            p.timeline 2016 &mdash; 2020
            p.details Erindale Secondary School

            h2 AP Computer Science A
            p.timeline 2018
            p.details LinkedKey
        div#awards
            h1 Awards
            
            h2 Level 10 History and Theory - First Class Honours
            p.timeline 2020
            p.details Royal Conservatory Music

            h2 Fermat School Champion 
            p.timeline 2019
            p.details Erindale Secondary School
            
            h2 Galois School Champion
            p.timeline 2018
            p.details Erindale Secondary School

            h2 Fryer School Champion
            p.timeline 2017
            p.details Erindale Secondary School

            //- h2 Canadian Team Math Contest - First Place in Peel Region
            //- p.timeline 2019
            //- p.details Erindale Secondary School
        
        div#interests
            h1 Interests        
            ul.details
                li.p  Software development
                li.p  Web development 
                li.p  Machine learning
                li.p  Deep learning
                li.p  Human-computer interaction 
                li.p  Data analysis
                //- li.p  Data mining 
           
