title Ruyi Li - Resume

//- BEGIN Stylesheets
link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
link(rel='stylesheet' href='normalize.css')
link(rel='stylesheet' href='style.scss')
//- END Stylesheets

//- BEGIN Resume Content
section.columns.pt-3.mb-0#title
    div.column.has-text-centered
        h1.title.is-size-1 ROY LI

section.columns.is-centered.has-text-centered.is-family-monospace.pb-1#contact
    div.column
        a(target='_blank' href='https://github.com/RuyiLi') 
            i.fa.fa-github
            p github.com/RuyiLi
    div.column
        a(target='_blank' href='https://linkedin.com/in/ruyi-li')
            i.fa.fa-linkedin
            p linkedin.com/in/ruyi-li
    div.column
        a(target='_blank' href='https://ruyili.ca')
            i.fa.fa-globe
            p ruyili.ca
    div.column
        a(target='_blank' href='mailto:ruyi.li@uwaterloo.ca')
            i.fa.fa-envelope
            p ruyi.li@uwaterloo.ca
    //- div.column.is-narrow
    //-     i.fa.fa-phone
    //-     p 647.804.0140

section.columns#details
    div.column#long-description
        div#experience
            h1 Work Experience

            div.job
                h2 Software Engineering Intern
                h2.company Tribe Community Platform
                em.location #[a(target='_blank' href='https://tribe.so/') www.tribe.so]
                p.timeline 2021 &mdash; Present
                ul.details
                    li.
                        Operated on backend in an Agile environment for the launch of Version 2 of Tribe
                    li.
                        Worked with #[strong ElasticSearch] to improve the accuracy of search results and fixed issues
                        such as duplicate search results and certain media types not showing

            div.job
                h2 Chief Technology Officer
                h2.company AlumNav Inc.
                em.location #[a(target='_blank' href='https://alumnav.com/') www.alumnav.com]
                p.timeline 2020 &mdash; Present
                ul.details
                    li.
                        Co-founded platform offering mentorship for over 5,000 high school students
                    li.
                        Developed website using #[strong Pug/JS/SCSS], set up CI/CD with GitHub Actions and Netlify

            div.job
                h2 Software Engineer
                h2.company WZMH Architects
                em.location Toronto, ON
                p.timeline 2020 &mdash; 2020
                ul.details
                    li.
                        Created software for the BlackBox5 IoT project
                    li.
                        Implemented backend in #[strong Node.js] to allow a #[strong React Native] 
                        app to interface with devices connected to an Arduino microcontroller
                        through a REST API and Websockets
                    li.
                        Stored data in a #[strong PostgreSQL] database and deployed project using #[strong Docker]

            div.job
                h2 Web Developer
                h2.company VolunteeringPeel
                em.location Mississauga, ON
                p.timeline 2019 &mdash; 2020
                ul.details
                    li Maintained website to help students find/apply for volunteer positions
                    li Created tools to improve efficiency of management processes and handled technological support

            div.job
                h2 JavaScript and Python Teacher
                h2.company Triway Education
                em.location Richmond Hill, ON
                p.timeline 2019 &mdash; 2020
                ul.details
                    li Prepared lesson plans and assignments for students to practice and hone their skills

            //- div.job
            //-     h2 Teaching Assistant
            //-     h2.company Spirit of Math Schools
            //-     em.location Mississauga, ON
            //-     p.timeline 2017 &mdash; 2019
            //-     ul.details
            //-         li Collaborated with classroom teacher to administer tests and curriculum materials

        div#projects
            h1 Projects

            div.project
                h2 #[a(target='_blank' href='https://github.com/RuyiLi/BlockOJ') BlockOJ]
                p.timeline 2020
                em.stack Node.js (Express), Pug, SASS, JavaScript (Google Blockly), PostgreSQL, C, AWS EC2
                ul.details
                    li Winning project created for the Hack the 6ix hackathon
                    li.
                        Introduces youth to coding and problem-solving on an online judge platform through a 
                        friendly and intuitive block-based drag-and-drop coding system

            div.project
                h2 TriviaMaster
                p.timeline 2017 &mdash; Present
                em.stack Node.js (discord.js), Python (FastAPI, PonyORM, Celery), RabbitMQ, PostgreSQL, Vue
                ul.details 
                    li.
                        Application allowing users to add questions and play trivia games with other users
                        through a Discord bot, website, or mobile app frontend
                    li.
                        REST API built in Python, using PonyORM to interact with a PostgreSQL database storing
                        trivia questions and user profiles
                    li Discord bot active in over 3 300 servers with over 300 000 users

            div.project
                h2 #[a(target='_blank' href='https://play.google.com/store/apps/details?id=com.lusiddev.craftmything') Craftrivia]
                p.timeline 2017
                em.stack C#, Unity
                ul.details
                    li Mobile game developed in C# with the Unity game engine
                    li Over 130 000 installs on the Android Play Store

    div.column#short-description
        div#skills
            h1 Skills

            h2 Programming
            div.details
                p JavaScript/TypeScript
                p Java
                p Python

            h2 Server/Web
            div.details
                p Node.js
                p Spring
                p Django/Flask/FastAPI
                p Vue/React
                p REST
                p GraphQL

            h2 Database
            div.details
                p PostgreSQL
                p MongoDB
                p Redis
                p SQLAlchemy
                p TypeORM

            h2 Tools
            div.details
                p Docker
                p Git
                p TDD
                p Office

            h2 Operating Systems
            div.details
                p Windows
                p Ubuntu
                p Raspbian
            
            h2 Hardware
            div.details
                p Arduino
                p Raspberry Pi
            
        div#education
            h1 Education
            
            h2 Bachelor of Computer Science and Business Administration Double Degree
            p.timeline 2020 &mdash; Present
            p.details University of Waterloo &amp; Wilfrid Laurier University (4.0/4.0 GPA)

            h2 Machine Learning and AI Foundations: Recommendations
            p.timeline 2019
            p.details LinkedIn Learning

            h2 SHAD Valley
            p.timeline 2018
            p.details Lakehead University
        
        div#awards
            h1 Awards
            
            h2 Mentor's Choice
            p.timeline 2020
            p.details Hack the 6ix

            h2 Judge's Choice
            p.timeline 2020
            p.details MasseyHacks VI

            h2 Group 3 (Top 65 in Canada)
            p.timeline 2020
            p.details Canadian Computing Competition Senior Division

            h2 Most Creative Hack
            p.timeline 2018
            p.details HackIR

            h2 SHAD Ambassador
            p.timeline 2018
            p.details Erindale Secondary School