title Ruyi Li - Resume

//- BEGIN Stylesheets
link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
link(rel='stylesheet' href='normalize.css')
link(rel='stylesheet' href='style.scss')
//- END Stylesheets

//- BEGIN Resume Content
section.columns.pt-3.mb-0#title
    div.column.has-text-centered
        h1.title.is-size-1 Ray Lin

section.columns.is-centered.has-text-centered.is-family-monospace.pb-1#contact
    div.column
        a(target='_blank'  style="text-decoration:none" href='https://github.com/alceray') 
            i.fa.fa-github
            p github.com/alceray
    div.column
        a(target='_blank'  style="text-decoration:none" href='https://linkedin.com/in/raylin02')
            i.fa.fa-linkedin
            p linkedin.com/in/raylin02
    div.column
        a(target='_blank'  style="text-decoration:none" href='mailto:q54lin@uwaterloo.ca')
            i.fa.fa-envelope
            p q54lin@uwaterloo.ca
    //- div.column
    //-     i.fa.fa-map-marker
    //-     p Mississauga, ON
    div.column
        i.fa.fa-phone
        p 647-974-8613

section.columns#details
    div.column#long-description
        div#profile
            h1 Profile 
            ul.details 
                li.
                    Creative problem solving and communication skills developed from piano tutoring at students' homes
                li.
                    Willingness to learn new programming languages and computer concepts demonstrated in my projects and as a Computer Science Club member
                li.
                    Teamwork skills shown in participation of math and CS team competitions 
                li.
                    5 years of experience using Microsoft Office, including Word, Excel, and PowerPoint
                //- li.
                //-     Conversational fluency in English and Cantonese 
        //- div#education
        //-         h1 Education
                
        //-         h2 Candidate for Bachelor of Computer Science, Honours Co-op
        //-         p.timeline 2020 &mdash; present
        //-         p.details University of Waterloo

        //-         h2 International Baccalaureate Diploma Program 
        //-         p.timeline 2016 &mdash; 2020
        //-         p.details Erindale Secondary School

        //-         h2 AP Computer Science A
        //-         p.timeline 2018
        //-         p.details LinkedKey

        div#projects
            h1 Projects
            div.project
                h2 #[a(target='_blank' style="text-decoration:none" href='https://github.com/alceray/Tetris-game') Tetris Game]
                p.timeline 2021 
                em.stack Python, Pygame
                ul.details 
                    li.
                        Co-built a Tetris game that incorporates original mechanics and features with creative modifications
            div.project
                h2 #[a(target='_blank'  style="text-decoration:none" href='https://github.com/alceray/URL-shortener') URL Shortener/Customizer]
                p.timeline 2021
                em.stack Python, Flask, HTML, SQLite
                ul.details
                    li.
                        Created a web application that allows users to enter a URL and customize the URL key to their preference, or a random shortened URL can be generated
                    li.
                        Used Python to pass and store URL data in a SQLite database
            div.project
                h2 Decision Tree
                p.timeline 2020
                em.stack Racket 
                ul.details 
                    li.
                        Created and trained a machine learning classifier from a randomly generated dataset using an ID3 algorithm 
                    li.
                        Measured at a sensitivity of over 50% and a specificity of over 90% 
            div.project 
                h2 Hamiltonian Cycle
                p.timeline 2020
                em.stack C++
                ul.details 
                    li.
                        Employed a backtracking algorithm to solve the Hamilton cycle problem 
            div.project
                h2 Huffman Tree
                p.timeline 2018
                em.stack Java
                ul.details 
                    li.
                        Implemented a Huffman coding algorithm, inherited from a Binary Search Tree algorithm, to encode strings into their binary code and decode binary codes

        div#experience
            h1 Experience

            div.job
                h2 Computer Science Club Founding Member
                br
                em.location Erindale Secondary School 
                p.timeline 2017 &mdash; 2020
                ul.details
                    li.
                       Learned computer science concepts and explained the material to students
                    li.
                        Consistently attended the weekly meets and actively asked questions about unfamiliar concepts

            div.job
                h2 Piano Tutor
                br
                em.location Mississauga
                p.timeline 2018 &mdash; 2019
                ul.details
                    li.
                        Planned and coordinated piano tutoring sessions for children to hone their playing skills and quickly advance them to the next level
            

    div.column#short-description
        div#skills
            h1 Skills

            h2 Programming
            div.details
                p Python
                p C
                p C++
                p Java 
                p Javascript
                p Racket
                p R 
                p Bash

            h2 Server/Web
            div.details
                p HTML
                p CSS
                p Flask
                p Node.js

            h2 Database
            div.details
                p SQLite

            h2 Tools
            div.details
                p Git
                p Microsoft Office
                

            h2 Operating Systems
            div.details
                p Linux
            
            h2 Languages
            div.details
                p English
                p French 
                p Cantonese 
        div#education
            h1 Education
            
            h2 Candidate for Bachelor of Computer Science
            p.timeline 2020 &mdash; present
            p.details University of Waterloo

            h2 International Baccalaureate Diploma Program 
            p.timeline 2016 &mdash; 2020
            p.details Erindale Secondary School

            h2 AP Computer Science A
            p.timeline 2018
            p.details LinkedKey
        div#awards
            h1 Awards
            
            h2 Level 10 History and Theory - First Class Honours
            p.timeline 2020
            p.details Royal Conservatory Music

            h2 Fermat School Champion 
            p.timeline 2019
            p.details Erindale Secondary School
            
            h2 Galois School Champion
            p.timeline 2018
            p.details Erindale Secondary School

            h2 Fryer School Champion
            p.timeline 2017
            p.details Erindale Secondary School

            h2 Canadian Team Math Contest - First Place in Peel Region
            p.timeline 2019
            p.details Erindale Secondary School
        
        div#interests
            h1 Interests        
            ul.details
                li.p  Machine learning
                li.p  Web development 
                li.p  Game development 
                //- li.p  Mobile app development 
                //- li.p  Data mining 
           
