title Ruyi Li - Resume

//- BEGIN Stylesheets
link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
link(rel='stylesheet' href='normalize.css')
link(rel='stylesheet' href='style.scss')
//- END Stylesheets

//- BEGIN Resume Content
section.columns.pt-3.mb-0#title
    div.column.has-text-centered
        h1.title.is-size-1 Ray Lin

section.columns.is-centered.has-text-centered.is-family-monospace.pb-1#contact
    div.column
        //- a(target='_blank' href='https://github.com/alceray') 
        i.fa.fa-github
        p github.com/alceray
    div.column
        //- a(target='_blank' href='https://linkedin.com/in/raylin02')
        i.fa.fa-linkedin
        p linkedin.com/in/raylin02
    div.column
        //- a(target='_blank' href='mailto:ray02lin@gmail.com')
        i.fa.fa-envelope
        p ray02lin@gmail.com
    div.column.is-narrow
        i.fa.fa-phone
        p 647-974-8613

section.columns#details
    div.column#long-description
        div#education
                h1 Education
                
                h2 Computer Science, Honours Co-op
                p.timeline 2020 &mdash; Present
                p.details University of Waterloo

                h2 International Baccalaureate Diploma Program 
                p.timeline 2016 &mdash; 2020
                p.details Erindale Secondary School

                h2 AP Computer Science A
                p.timeline 2018
                p.details LinkedKey
            
        div#projects
            h1 Projects
            div.project
                h2 Tetris Game
                p.timeline 2021 &mdash; Present
                em.stack Python, Pygame
                ul.details 
                    li.
                        Used Python and Pygame to build a Tetris game that incorporates original features with creative modifications
            
            div.project
                h2 URL Shortener/Customizer
                p.timeline 2021
                em.stack Python, Flask, HTML, SQLite
                ul.details
                    li.
                        Web application allows users to enter a URL and customize the URL key to their preference, or the program can generate a random shortened URL
                    li.
                        Used Python and Flask to store URL data in a SQLite database
            div.project 
                h2 Hamiltonian Cycle
                p.timeline 2020
                em.stack C++
                ul.details 
                    li.
                        Employed a backtracking algorithm to solve the Hamilton cycle problem 
            div.project
                h2 Huffman Tree
                p.timeline 2018
                em.stack Java
                ul.details 
                    li.
                        Implemented a Huffman coding algorithm, inherited from a Binary Search Tree algorithm, to encode strings into their binary code and decode binary codes

        div#experience
            h1 Experiences

            div.job
                h2 Computer Science Club Founding Member
                br
                em.location Erindale Secondary School 
                p.timeline 2017 &mdash; 2020
                ul.details
                    li.
                       Learned computer science concepts and explained material to struggling clubmates
                    li.
                        Consistently attended the weekly meets and actively asked questions about unfamiliar concepts
                    //- li.
                    //-     Promoted the club to my friends and classmates 

            div.job
                h2 Piano Tutor
                br
                em.location Mississauga
                p.timeline 2018 &mdash; 2019
                ul.details
                    li.
                        Planned piano lessons for several children in the neighbourhood to practice and hone their playing skills
                    li.
                        Provided emotional support to children who doubted their ability to play piano or recognize notes

            //- div.job
            //-     h2 Software Engineer
            //-     h2.company WZMH Architects
            //-     em.location Toronto, ON
            //-     p.timeline 2020 &mdash; 2020
            //-     ul.details
            //-         li.
            //-             Created software for the BlackBox5 IoT project
            //-         li.
            //-             Implemented backend in #[strong Node.js] to allow a #[strong React Native] 
            //-             app to interface with devices connected to an Arduino microcontroller
            //-             through a REST API and Websockets
            //-         li.
            //-             Stored data in a #[strong PostgreSQL] database and deployed project using #[strong Docker]

            //- div.job
            //-     h2 Web Developer
            //-     h2.company VolunteeringPeel
            //-     em.location Mississauga, ON
            //-     p.timeline 2019 &mdash; 2020
            //-     ul.details
            //-         li Maintained website to help students find/apply for volunteer positions
            //-         li Created tools to improve efficiency of management processes and handled technological support

            //- div.job
            //-     h2 JavaScript and Python Teacher
            //-     h2.company Triway Education
            //-     em.location Richmond Hill, ON
            //-     p.timeline 2019 &mdash; 2020
            //-     ul.details
            //-         li Prepared lesson plans and assignments for students to practice and hone their skills

            //- div.job
            //-     h2 Teaching Assistant
            //-     h2.company Spirit of Math Schools
            //-     em.location Mississauga, ON
            //-     p.timeline 2017 &mdash; 2019
            //-     ul.details
            //-         li Collaborated with classroom teacher to administer tests and curriculum materials

        
            

    div.column#short-description
        div#skills
            h1 Skills

            h2 Programming
            div.details
                p Python
                p C
                p C++
                p Java 
                p Racket
                p R 

            h2 Server/Web
            div.details
                p HTML
                p Flask

            h2 Database
            div.details
                p SQLite

            h2 Tools
            div.details
                p Git
                p MS Office

            h2 Operating Systems
            div.details
                p Windows
            
            h2 Languages
            div.details
                p English
                p French 
                p Mandarin 
                p Cantonese
        
        div#awards
            h1 Awards
            
            h2 Level 10 History and Theory - First Class Honours
            p.timeline 2020
            p.details Royal Conservatory Music

            h2 Fermat School Champion 
            p.timeline 2019
            p.details Erindale Secondary School
            
            h2 Galois School Champion
            p.timeline 2018
            p.details Erindale Secondary School

            h2 Fryer School Champion
            p.timeline 2017
            p.details Erindale Secondary School

            h2 Canadian Team Math Contest - First Place in Peel Region
            p.timeline 2019
            p.details Erindale Secondary School

        div#interests
            h1 Interests 
            p Machine learning 
            p Web development 
            p Game development 
            p Mobile app development 
            p Data mining 
