title Ray Lin - Resume

//- BEGIN Stylesheets
link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
link(rel='stylesheet' href='normalize.css')
link(rel='stylesheet' href='style.scss')
//- END Stylesheets

//- BEGIN Resume Content
section.columns.pt-3.mb-0#title
    div.column.has-text-centered
        h1.title.is-size-1 Ray Lin

section.columns.is-centered.has-text-centered.is-family-monospace.pb-1#contact
    div.column
        a(target='_blank'  style="text-decoration:none" href='mailto:q54lin@uwaterloo.ca')
            i.fa.fa-envelope
            p q54lin@uwaterloo.ca    
    div.column
        a(target='_blank'  style="text-decoration:none" href='https://github.com/alceray') 
            i.fa.fa-github
            p github.com/alceray
    div.column
        a(target='_blank'  style="text-decoration:none" href='https://linkedin.com/in/raylin02')
            i.fa.fa-linkedin
            p linkedin.com/in/raylin02
    //- div.column
    //-     i.fa.fa-map-marker
    //-     p Mississauga, ON
    div.column
        i.fa.fa-phone
        p (647) 974-8613

section.columns#details
    div.column#long-description
        div#profile
            h1 Profile 
            ul.details 
                li.
                    Problem-solver with 3 co-op terms of software development
                li.
                    Proficient communications skills refined from daily scrum meetings
                li.
                    Strong aptitude for learning new software tools and industry standards
                //- li.
                //-     Collaboration and teamwork skills used in daily work meetings
                //- li.
                //-     5 years of experience using Microsoft Office, including Word, Excel, and PowerPoint
                //- li.
                //-     Conversational fluency in English and Cantonese 
        div#experience
            h1 Experience
            div.job 
                h2 Full-Stack Developer @ SS&C Technologies (rehire)
                br
                em.location Toronto, ON 
                p.timeline Jan 2023 &mdash; Apr 2023
                ul.details
                    li.
                        Restored the web scraper from an old Knowledge Base project and documented the errors encountered in the data migration API and Python scripts
                    li.
                        Implemented a Nifi flow to silence alerting on holidays that was deployed to production
                    li.
                        Developed a data scraper using Node.js to migrate the help contents of a TA2000 browser application to a new XWiki application, which was demoed to and complimented by stakeholders
            div.job
                h2 Software Developer in Test @ NCR
                br
                em.location Waterloo, ON 
                p.timeline May 2022 &mdash; Aug 2022
                ul.details 
                    li.
                        Designed automation test scenarios and conducted E2E testing on a Teller UI application using Cucumber and TestCafe
                    li.
                        Collaborated with front-end developers to manually test their new features
                    li.
                        Refactored React components in the application to resolve over 20 SonarQube issues
            div.job 
                h2 Full-Stack Developer @ SS&C Technologies 
                br
                em.location Toronto, ON
                p.timeline Sep 2021 &mdash; Dec 2021
                ul.details
                    li.
                       Implemented unit testing and replaced Bootstrap with CSS in an Angular application
                    li.
                       Created a Superset dashboard with various charts and maps through SQL queries, which was demoed to the CIO
                    //- li. 
                    //-    Developed a Spring Boot REST API with CRUD operations and exception handling that connects to a specific database depending on the environment. 
            //- div.job
            //-     h2 Piano Tutor
            //-     br
            //-     em.location Mississauga, ON
            //-     p.timeline 2018 &mdash; Present
            //-     ul.details
            //-         li.
            //-             Coordinated summer piano tutoring sessions for children in my neighbourhood
            //-         li.
            //-             Taught my little sister to play piano, from zero knowledge to currently Level 8
        div#projects
            h1 Projects
            div.project
                h2 #[a(target='_blank' style="text-decoration:none" href='https://github.com/alceray/Typing-Test-App') Typing Test]
                p.timeline Apr 2023 &mdash; present
                em.stack Django, React, PostgreSQL
                ul.details 
                    li.
                        Develop a typing test application that challenges the user's typing accuracy and consistency in various modes
                    li.
                        Download and store books from the Project Gutenberg API in the database and serves random texts in a Django view
            div.project 
                h2 #[a(target='_blank' style="text-decoration:none" href='https://git.uwaterloo.ca/jpparapp/cs_346_project') To-Do List]
                p.timeline Sep 2022 &mdash; Dec 2022
                em.stack Kotlin, JavaFX, Spring Boot, MongoDB
                ul.details
                    li.
                        Collaborated with several classmates to build a to-do list desktop application according to our assigned tasks
                    li.
                        Developed key functionalities such as deleting tasks, selecting all tasks, undo/redo, and keyboard shortcuts
                    li.
                        Packaged the application as a ZIP file and executable installers using Gradle
            //- div.project
            //-     h2 #[a(target='_blank' style="text-decoration:none" href='https://github.com/alceray/Tetris-game') Tetris Game]
            //-     p.timeline 2021 
            //-     em.stack Python, Pygame
            //-     ul.details 
            //-         li.
            //-             Co-built a Tetris game that incorporates the original mechanics with additional creative features
            //- div.project
            //-     h2 #[a(target='_blank'  style="text-decoration:none" href='https://github.com/alceray/URL-shortener') URL Shortener/Customizer]
            //-     p.timeline 2021
            //-     em.stack Python, Flask, SQLite
            //-     ul.details
            //-         li.
            //-             Created a web application that allows users to enter a URL and either customize the URL key to their preference or randomly generate a shortened one
                    //- li.
                    //-     Used Python to pass and store URL data in a SQLite database
            //- div.project
            //-     h2 Decision Tree
            //-     p.timeline 2020
            //-     em.stack Racket 
            //-     ul.details 
            //-         li.
            //-             Created and trained a machine learning classifier from a randomly generated dataset using an ID3 algorithm 
            //-         li.
            //-             Measured at a sensitivity of over 50% and a specificity of over 90% 

    div.column#short-description
        div#skills
            h1 Skills

            h2 Programming
            div.details
                p Javascript
                p C
                p C++
                p Python
                p Kotlin
                p Java 
                p R 
                p Racket
                
            h2 Server/Web
            div.details
                p REST
                p React
                p Node.js
                p Spring Boot
                p Django
                p Angular
                p Flask

            h2 Database
            div.details
                p PostgreSQL
                p MongoDB
                p SQLite

            h2 Tools
            div.details
                p Git
                p Jira
                p Docker
                p Postman
                p Superset
                p Figma
                p Nifi
                p Swagger

            h2 Operating Systems
            div.details
                p Windows
                p Linux (Ubuntu, CentOS)
            
            //- h2 Languages
            //- div.details
            //-     p English
            //-     p French 
            //-     p Cantonese 
        div#education
            h1 Education
            
            h2 Candidate for Bachelor of Computer Science
            p.timeline 2020 &mdash; present
            p.details University of Waterloo

            h2 International Baccalaureate Diploma Program 
            p.timeline 2016 &mdash; 2020
            p.details Erindale Secondary School

            //- h2 AP Computer Science A
            //- p.timeline 2018
            //- p.details LinkedKey
        div#awards
            h1 Awards
            
            h2 Level 10 History and Theory - First Class Honours
            p.timeline 2020
            p.details Royal Conservatory Music

            h2 Fermat School Champion 
            p.timeline 2019
            p.details Erindale Secondary School
            
            //- h2 Galois School Champion
            //- p.timeline 2018
            //- p.details Erindale Secondary School

            //- h2 Fryer School Champion
            //- p.timeline 2017
            //- p.details Erindale Secondary School

            //- h2 Canadian Team Math Contest - First Place in Peel Region
            //- p.timeline 2019
            //- p.details Erindale Secondary School
        
        div#interests
            h1 Interests        
            ul.details
                li.p  Web development 
                li.p  Machine learning
                li.p  Game development 
                //- li.p  Mobile app development 
                //- li.p  Data mining 
           
